.App {
  font-family: 'Sanchez', serif;
 }

.bw2 {
	border-width: 3px;
}

 .folksam-blue {
  color: #009ce0;
 }

.bg-beige {
  background-color: #f8f6f0;
}
 .folksam-bg {
  background-color: #009ce0;
 }
